<?php declare(strict_types=1); ?>
<?php
/** @var \Magento\Framework\View\TemplateEngine\Php $this */
/** @var \Magento\Framework\View\Element\Template $block*/
/** @var \PerspectiveStudio\ProductSpecialPriceCountdown\ViewModel\Countdown $viewModel*/
$viewModel = $block->getData('view_model');
?>
<div id="product-special-price-countdown-wrapper"
     class="product-special-price-countdown-wrapper"
     data-bind="scope:'current-product-special-prices'"
>
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
    {
        "#product-special-price-countdown-wrapper": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "current-product-special-prices": {
                        "component": "PerspectiveStudio_ProductSpecialPriceCountdown/js/view/product-special-prices",
                        "config": {
                            "template": "PerspectiveStudio_ProductSpecialPriceCountdown/product-special-prices",
                            "isShowAllCounters": "<?= $viewModel->isShowAllCounters(); ?>"
                        }
                    }
                }
            }
        }
    }
</script>