<!-- ko if: specialPricesPool().length -->
    <div class="title-wrapper">
        <span class="label" data-bind="i18n: 'Special Prices Counters:'"></span>
        <div class="show-all-special-prices-wrapper">
            <label class="special-prices-checkbox-label label"
                   for="show-all-special-prices"
                   data-bind="i18n: 'All'"
            ></label>
            <input class="special-prices-checkbox"
                   type="checkbox"
                   id="show-all-special-prices"
                   data-bind="attr: {
                                    checked: isShowAllCounters()
                               },
                               event: {
                                    change: specialPricesPoolRefresh
                               }"
            >
        </div>
    </div>
<!-- /ko -->
<div id="product-special-price-countdown" class="product-special-price-countdown">
    <div class="countdown-content">
        <!-- ko if: isShowAllCounters -->
            <!-- ko foreach: { data: specialPricesPool(), as: 'specialPrice' } -->
                <div class="countdown-content-item" data-bind="afterRender: $parent.setCountDown"></div>
            <!-- /ko -->
        <!-- /ko -->
        <!-- ko ifnot: isShowAllCounters -->
            <div class="countdown-content-item"></div>
        <!-- /ko -->
    </div>
</div>