// General
& when (@media-common = true) {
    .product-special-price-countdown-wrapper {
        &,
        .countdown-content,
        .countdown-item-inner-content {
            .flex-display(flex);
            .flex-direction(column);
            .align-items(center);
        }

        .title-wrapper {
            .flex-display(flex);
            .justify-content(center);
            margin-bottom: 10px;

            .label {
                font-size: 14px;
                font-weight: 900;
                margin-right: 20px;
            }
        }

        .show-all-special-prices-wrapper {
            .flex-display(flex);
        }

        .special-prices-checkbox-label {
            margin-right: 10px;
        }

        .countdown-content-item {
            .flex-display(flex);
            .flex-direction(column);
            margin-bottom: 10px;
        }

        .countdown-item-label {
            text-transform: capitalize;
            text-align: center;
            font-size: 12px;
            margin-bottom: 5px;
        }

        .countdown-item-inner-wrapper {
            .flex-display(flex);
            .justify-content(center);
        }

        .countdown-item-inner-content-wrapper {
            box-sizing: border-box;
            padding: 0 5px;
        }

        .countdown-item-inner-content {
            box-sizing: border-box;
            padding: 5px 5px;
            background: @color-blue1;
            border-radius: 2px;
            font-size: 12px;
            min-width: 60px;
        }

        .inner-content-timer {
            background: @color-white;
            border-radius: 4px;
            font-weight: 700;
            padding: 5px 20px;
            text-align: center;
        }

        .inner-content-label {
            color: @color-white;
            font-weight: 600;
            text-align: center;
        }
    }
}

// Mobile
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product-special-price-countdown-wrapper {
        .title-wrapper {
            width: 100%;

            .label {
                font-size: 16px;
            }
        }

        .countdown-item-label,
        .countdown-item-inner-content {
            font-size: 14px;
        }
    }
}

// Tablet
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-special-price-countdown-wrapper {
        .align-items(flex-start);

        .title-wrapper {
            .justify-content(space-between);
        }

        .countdown-item-inner-content-wrapper:nth-child(6n+6),
        .countdown-item-inner-content-wrapper:nth-child(1) {
            padding-left: 0;
        }

        .countdown-item-label {
            text-align: left;
        }

        .countdown-item-inner-wrapper {
            .align-self(flex-start);
        }

        .countdown-item-inner-content {
            .align-items(center);
        }
    }
}